/* Reset */

body, div, ul, li, h1, h2, p, strong {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
}

img {
	vertical-align: top;
}

ul {
	list-style: none;
}


/* Components */

:root {
    font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
	clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.section {
	padding: 100px 0;
}

.wrapper {
	width: 1080px;
	margin: 0 auto;
}


/* Section Portfolio */

.section_portfolio {
	background-color: rebeccapurple;
}


/* Portfolio Header */

.portfolio_header {
	margin-bottom: 100px;
	display: flex;
}

.portfolio_header .portfolio_header_title {
	width: 26%;
	flex-shrink: 0;
	font-size: 40px;
	color: white;
	white-space: nowrap;
}

.portfolio_header .portfolio_header_title strong {
	display: block;
	width: fit-content;
	position: relative;
	z-index: 1;
}

.portfolio_header .portfolio_header_title strong::after {
	content: ' ';
	border-radius: 20px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0.5em;
	background-color: orangered;
	z-index: -1;
}

.portfolio_header .portfolio_header_description {
	width: 600px;
	margin: auto 0;
	color: #bd8fe8;
	position: relative;
}

/* .portfolio_header .portfolio_header_description::before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #bd8fe8;
} */

.portfolio_project_list {
	background-color: bisque;
}

.portfolio_project_list .portfolio_project {
	background-color: darksalmon;
	display: flex;
}

.portfolio_project_list .portfolio_project + .portfolio_project {
	margin-top: 24px;
}

.portfolio_project .portfolio_project_cover {
	width: 26%;
	position: relative;
}

.portfolio_project_cover .project_category {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.portfolio_project_cover .project_cover_img {
	width: 100%;
	opacity: 50%;
}

