@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* ########## Reset ########## */

body {
    background-color: #5B2386;
    line-height: 1;
}

button {
    cursor: pointer;
}

/* ########## Components ########## */

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.wrapper {
    width: 780px;
    margin: 0 auto;
    text-align: center;
}

/* ###### header ###### */

.title_loto {
    background: url(../img/clock.png) no-repeat center / 261px;
    height: 265px;
    margin-top: 100px;
}

.title_loto .title_logo_img {
    width: 564px;
    height: 112px;
    position: relative;
    top: 74px;
}

/* ###### main ###### */

.main_content {
    margin-top: 46px;
    margin-bottom: 130px;
}

.description_text {
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    color: white;
}

.btn_start {
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color: #5B2386;
    background-color: #FCEE21;
    box-shadow: 0 0 1em 0 #666;
    height: 66px;
    line-height: 66px;
}

/* #### first section #### */

.about_10000hour {
    /* NOTE:: 여기서 102px로 간격을 주었는데 아래 .description_text와의 실제 간격을 보면 102px 이상입니다. 지금의 경우는 .description_text의 line-height 값 때문에 추가 간격이 생긴건데요 지금 마크업이 p태그로 각각 되어있어서 각 p태그 사이의 간격을 조정하는 식으로 css를 수정하는 것이 좋을 것 같습니다 :) */
    margin-bottom: 80px;
}

.about_10000hour .about_10000hour_subtitle {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
    margin-bottom: 50px;
}

.about_10000hour .about_10000hour_description {
    background-image: url(../img/quotes.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    color: white;
    line-height: 1.6;
    padding-top: 28px;
}

.about_10000hour .about_10000hour_description span {
    display: block;   
}

.about_10000hour .about_10000hour_description strong {
    font-weight: bold;
    font-size: 24px;
}

/* #### second section #### */

.become_specialist {
    margin-bottom: 147px;
}

.become_specialist .description_text {
    line-height: 3.8;
}

.become_specialist .description_text input {
    width: 228px;
    height: 57px;
    margin: 0 8px;
    padding-top: 5px;
    border-radius: 10px;
}

.become_specialist .description_text input::placeholder {
    text-align: center;
    opacity: 50%;
}

.become_specialist .decorate_button {
    width: fit-content;
    margin: 90px auto 0;
    position: relative;
}

.become_specialist .decorate_button::after {
    content: '';
    background-image: url(../img/click.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 64px;
    width: 70px;
    height: 70px;
    top: 18px;
    right: -70px;
    position: absolute;
}

.become_specialist .decorate_button .btn_start {
    padding: 5px 49px;
    border-radius: 32px;
}

/* #### third section #### */

.specialist_result {
    margin: 0;
}

.specialist_result .description_text {
    line-height: 1.25;
}

.specialist_result .description_text strong {
    font-family: 'GmarketSansBold';
    font-weight: bold;
    font-size: 72px;
    padding: 0 6px;
    vertical-align: -15%;
}

.specialist_result .button_list {
    margin-top: 113px;
}

.specialist_result .button_list .btn_start {
    /* NOTE:: 저는 button의 경우 요소 크기를 직접 지정하기도 합니다. width는 버튼의 텍스트 길이에 따라 가변적이지만 height는 보통 동일해서 px단위로 고정적인 경우가 많이 있어서요. padding으로 주어도 나쁜 것은 아니지만 이렇게 각각의 값을 다르게 넣게된다면 height를 px단위로 고정, width를 padding으로 설정하는 방법도 있습니다. */
    padding: 5px 50px;
    border-radius: 32px;
    margin-right: 10px;
}

.specialist_result .button_list .bth_share {
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color: #5B2386;
    padding: 5px 50px;
    height: 66px;
    line-height: 66px;
    border-radius: 32px;
    box-shadow: 0 0 1em 0 #666;
}

/* ###### footer ###### */

.extra_info {
    margin-bottom: 70px;
}

.extra_info img {
    width: 125px;
    display: block;
    margin: 0 auto 20px;
}

.extra_info .copyright {
    font-size: 11px;
    color: white;
    line-height: 1.5;
    opacity: 80%;
}

.extra_info .copyright span {
    display: block;
}

/* ###### modal ###### */

.modal {
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 0 auto 100px;
    padding: 76px 0 68px;
}

.modal p {
    font-family: 'OTEnjoystoriesBA';
    color: #5B2386;
}

.modal .modal_title {
    font-size: 96px;
    margin-bottom: 10px;
}

.modal .modal_desc {
    font-size: 36px;
    margin-bottom: 30px;
}

.modal img {
    width: 443px;
    height: 337px;
    margin-bottom: 74px;
}

.modal .btn_start {
    font-size: 26px;
    padding: 24px 49px 16px;
    border-radius: 32px;
}

@media (max-width: 825px) {
    .wrapper {
        width: 320px;
    }

    /* ###### header ###### */

    .title_loto {
        background-size: 125px;
        height: 126px;
        margin-top: 40px;
    }
    
    .title_loto .title_logo_img {
        width: 267px;
        height: 53px;
        top: 35px;
    }
    
    /* ###### main ###### */
    
    .main_content {
        margin-top: 31px;
        margin-bottom: 83px;
    }
    
    .description_text {
        font-size: 14px;
    }
    
    .btn_start {
        font-size: 14px;
    }
    
    /* #### first section #### */
    
    .about_10000hour {
        margin-bottom: 60px;
    }
    
    .about_10000hour .about_10000hour_subtitle {
        font-size: 22px;
        margin-bottom: 56px;
    }
    
    .about_10000hour .about_10000hour_description {
        background-size: 312px;
        padding-top: 6px;
        font-size: 14px;
        line-height: 1.7;
    }
    
    .about_10000hour .about_10000hour_description strong {
        font-size: 16px;
    }
    
    /* #### second section #### */
    
    .become_specialist {
        margin-bottom: 64px;
    }

    .become_specialist .description_text {
        line-height: 3.1;
    }
    
    .become_specialist .description_text span {
        display: block;
    }
    
    .become_specialist .description_text input {
        width: 156px;
        height: 34px;
        margin: 0;
        padding-top: 3px;
        border-radius: 7px;
    }
    
    .become_specialist .description_text input::placeholder {
        text-align: center;
        opacity: 50%;
    }
    
    .become_specialist .decorate_button {
        margin: 49px auto 0 auto;
        position: relative;
    }
    
    .become_specialist .decorate_button::after {
        background-size: 43px;
        top: 22px;
        right: -50px;
        position: absolute;
    }
    
    .become_specialist .decorate_button .btn_start {
        padding: 18px 37px;
        border-radius: 12px;
        line-height: 1.3;
    }

    .become_specialist .decorate_button .btn_start span {
        display: block;
    }
    
    /* #### third section #### */
    
    .specialist_result {
        margin: 0;
    }
    
    .specialist_result .description_text {
        line-height: 1.6;
    }
    
    .specialist_result .description_text strong {
        font-size: 24px;
        padding: 0 5px;
        vertical-align: -10%;
    }
    
    .specialist_result .button_list {
        margin-top: 40px;
    }
    
    .specialist_result .button_list .btn_start {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0 20px;
        border-radius: 32px;
        margin-right: 13px;
    }
    
    .specialist_result .button_list .bth_share {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0 20px;
        border-radius: 32px;
    }
    
    /* ###### footer ###### */
    
    .extra_info {
        margin-bottom: 32px;
    }
    
    .extra_info img {
        width: 91px;
        margin: 0 auto 17px;
    }
    
    .extra_info .copyright {
        font-size: 8px;
        color: white;
        line-height: 1;
        opacity: 60%;
    }
    
    /* ###### modal ###### */
    
    .modal {
        width: 330px;
        height: 500px;
        border-radius: 20px;
        padding: 40px 0 45px;
    }
    
    .modal .modal_title {
        font-size: 64px;
        margin-bottom: 0px;
    }

    .modal .modal_title span{
        display: none;
    }
    
    .modal .modal_desc {
        font-size: 36px;
        margin-bottom: 246px;
    }
    
    .modal img {
        display: none;
    }
    
    .modal .btn_start {
        font-size: 15px;
        padding: 21px 40px 18px;
        border-radius: 13px;
    }

    .modal .btn_start span {
        display: block;
    }
}